/*подключение before*/
@mixin position($relative, $index) {
   @if ($relative==0) {
      position: relative;
   }

   @else if($relative==1) {
      position: absolute;
      content: "";
   }

   @content;

   @if ($index==0) {}

   @else {
      z-index: $index;
   }
}

/* @include position(1, 0); 
0 - relative,
1 - absolute */

@mixin position-size($relative, $index, $width, $height, $color) {
   @include position($relative, $index);
   background-color: $color;

   @if ($width>0) and ($height>0) {
      width: #{$width}px;
      height: #{$height}px;
   }

   @else if ($width==0) and ($height>0) {
      height: #{$height}px;
   }

   @else if ($width>0) and ($height==0) {
      width: #{$width}px;
   }

   @else {}
}

/* @include position-size(1, 4, 23, 23, $bw); */