$color-main:#1d1c1d;
$color-bg:#fff;
$color-hover:#64099b;
$color-error:red;
$color-green:#6cb9ab;
//$color-pink:#64099b;
$color-gray: #b8b8b8;
$color-gray-100:#F2F9F7;

//$color-hover:darken(#6cb9ab,20%)