@mixin font($nameFamily, $name, $weight, $type) {
   @font-face {
      font-family: '#{$nameFamily}';
      src: url('/fonts/#{$name}.woff2') format('woff2'),
      url('/fonts/#{$name}.woff') format('woff');
      font-weight:#{$weight};
      font-style: #{$type};
      font-display: swap;
   }
}


//@include font(nexabold, nexabold, 400, normal);
